body{
                background-image: url(Imagens/fundo1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
}
main{
                max-width: 1320px;
                margin: auto;
}
article{
                
                margin-left: 20px; 
                max-width: 600px;
                min-width: 350px;
                display: inline-block;
                
}
h1{
                
                text-align: center;
                font-size: 3em;
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                text-shadow: 2px 2px 2px black;
}
h2{
                margin-left: 20px;
                margin-top: 80px;
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                text-shadow: 2px 2px 2px black;
}
.texto{
                margin-top: 30px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.3em;
                text-align: justify;

}

#calculo{

              width: 500px; 
              min-width: 350px;
              display: inline-block;
              top: -100px;
              left: 120px;
              position: relative;                   
}
#calculo >p{
                text-align: center;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.1em; 
}
#notasbimestrais{
                text-align: center;
                margin-top: 100px;
}
.notas{
                width: 70px;
                padding: 5px;
                border-radius: 5px;
}
button{
                display: block;
                margin-left: 45%;
                margin-top: 100px;
                width: 70px;
                padding: 5px;
                border-radius: 5px;
}

#resultado{
                margin-top: 40px;
                text-align: center;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 2em; 
}